@import '../abstracts/variables';
@import '../abstracts/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background-color;
    color: $main-text-color;
    @include scrollbars($scrollbar-width, $scrollbar-color, $scrollbar-background);
}